<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pubmatic.openwrap.kotlinsampleapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.pubmatic.openwrap.kotlinsampleapp.BannerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:label="@string/title_activity_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pubmatic.openwrap.kotlinsampleapp.InterstitialActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:label="@string/title_activity_interstitial"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.pubmatic.openwrap.kotlinsampleapp.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>